.App {
  text-align: center;
  font-size: 24px;
  margin: 50px auto;
  font-family: "Open Sans", sans-serif;
  color: #264e70;
}

.App footer {
  padding-top: 30px;
  font-size: 14px;
  font-weight: 200;
}

.App .container {
  border: 5px solid #264e70;
  border-radius: 10px;
  background-color: #ffebd3;
  max-width: 900px;
}

.App header {
  padding-top: 30px;
  padding-bottom: 20px;
  font-weight: 300;
}

@media (max-width: 700px) {
  .App {
    font-size: 16px;
    margin: 20px;
  }
}
