.App {
  text-align: center;
  font-size: 24px;
  margin: 50px auto;
  font-family: "Open Sans", sans-serif;
}

.App footer {
  font-size: 14px;
  font-weight: 200;
}

.App .container {
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 8px 8px 12px red;
  background-color: lightpink;
  max-width: 800px;
}
