.App {
  text-align: center;
  font-size: 24px;
  margin: 50px auto;
  font-family: "Open Sans", sans-serif;
  color: #264e70;
}

.App footer {
  font-size: 14px;
  font-weight: 200;
}

.App .container {
  border: 5px solid #264e70;
  border-radius: 10px;
  background-color: #ffebd3;
  max-width: 900px;
}

.App header {
  padding-top: 30px;
}
