.Dictionary {
  background-color: #ffebd3;
  text-align: left;
}

.DefinitionResults {
  padding: 15px 15px;
}

.Meanings {
  border: 3px solid #679186;
  border-radius: 8px;
  padding: 30px 30px;
  background-color: #ffb4ac;
  box-shadow: 7px 7px 7px#679186;
}

.holdingMeaning {
  border-radius: 4px;
  padding: 30px;
}

.DefinitionResults .wordDisplay {
  font-size: 36px;
}

.searchBar {
  background-color: #ffebd3;
}

.Dictionary .suggestions {
  font-size: 12px;
  margin-top: 5px;
  margin-left: 5px;
}

.Dictionary .btn {
  color: #ffebd3;
  background: #264e70;
  border: 2px solid #264e70;
  font-weight: 500;
  width: 100%;
}

.Dictionary .btn:hover {
  background: #ffebd3;
  color: #264e70;
}

.Meanings .exampleDisplay {
  opacity: 0.6;
  font-size: 20px;
}

.Synonyms {
  padding: 0;
  margin: 30px 0 0;
}
.Synonyms li {
  list-style: none;
  padding-right: 30px;
  margin: 0;
  display: inline-block;
  font-size: 18px;
}

@media (max-width: 700px) {
  .partOfSpeech {
    font-size: 18px;
  }

  .Synonyms li {
    font-size: 16px;
    padding-right: 15px;
  }

  .Meanings .exampleDisplay {
    font-size: 14px;
  }

  .DefinitionResults .wordDisplay {
    font-size: 22px;
  }

  .DefinitionResults {
    padding: 10px 10px;
  }

  .holdingMeaning {
    padding: 15px;
  }
}
