.Photos {
  border: 3px solid #679186;
  border-radius: 8px;
  padding: 30px 30px;
  background-color: #ffb4ac;
  box-shadow: 3px 3px 3px#679186;
  margin: 40px 40px;
}

.Photos img {
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
}
